$color-text-primary: rgb(78, 76, 76);
$color-text-secondary: #37260c;
$color-text-tertiary: rgb(180, 98, 88);
$color-primary: #c8c696;
$color-secondary: rgb(202, 168, 168);
$color-tertiary: #97bea9;
$color-fouthy: #496455;
