@font-face {
    font-family: Roboto;
    src: url(../../assets/fonts/RobotoCondensed-VariableFont_wght.ttf);
}
@font-face {
    font-family: Monserrat;
    src: url(../../assets/fonts/Montserrat-VariableFont_wght.ttf);
}
